<p>landing-page works!</p>
<body data-spy="scroll" data-target="#main-nav" id="home">
    <!-- Navbar here -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">
            <a href="index.html" class="navbar-brand">LoopLab</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li> <li class="nav-item">
                        <a href="#explore-head-section" class="nav-link">Explore</a>
                    </li> <li class="nav-item">
                        <a href="#create-head-section" class="nav-link">Create</a>
                    </li> <li class="nav-item">
                        <a href="#share-head-section" class="nav-link">Share</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End here -->

    <!-- Home Area here -->
    <header id="home-section">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h3 class="display-4">Build<strong> social profile </strong>and gaine revenue <strong>profits</strong></h3>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt suscipit aut a alias dicta?
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt suscipit aut a alias dicta?
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-check fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt suscipit aut a alias dicta?
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">

                                <h3>Sign Up Today</h3>
                                <p>Please fil out this form to register</p>
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Home Area End here -->

    <!-- Explore Area here -->
    <!-- Head -->
    <section id="explore-head-section">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">Explore</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quidem amet nihil distinctio aut.</p>
                    <a href="" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Head End-->
    <!-- Body -->

    <section id="explore-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <lottie-player class="img-fluid" src="https://assets9.lottiefiles.com/datafiles/MUp3wlMDGtoK5FK/data.json"  background="transparent"  speed="3"    loop autoplay></lottie-player> -->
                    <img class="img-fluid img-thumbnail mb-3" src="https://images.unsplash.com/photo-1563986768494-4dee2763ff3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="explore">
                </div>
                <div class="col-md-6">
                    <h3>Explore & Connect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae deleniti quis deserunt culpa iusto provident. Mollitia porro ducimus earum?</p>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <!-- <lottie-player class="img-fluid" src="https://assets6.lottiefiles.com/packages/lf20_846siclb.json"  background="transparent"  speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player> -->
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="py-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <!-- <lottie-player class="img-fluid" src="https://assets6.lottiefiles.com/packages/lf20_846siclb.json"  background="transparent"  speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player> -->
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="py-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                
                    <div class="d-flex"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Body End -->    

    <!-- Explore Area End here -->
    <!-- ------------------------------------------------------------------------------------ -->
    <!-- Create Area here -->

       <!-- Head -->
       <section id="create-head-section" class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">Create</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quidem amet nihil distinctio aut.</p>
                    <a href="" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Head End-->
    <!-- Body -->

    <section id="create-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2">
                    <!-- <lottie-player class="img-fluid" src="https://assets9.lottiefiles.com/packages/lf20_tutyy3hj.json"  background="transparent"  speed="1"    loop autoplay></lottie-player> -->
                    <img class="img-fluid img-thumbnail mb-3" src="https://images.unsplash.com/photo-1573152143286-0c422b4d2175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="explore">
                </div>
                <div class="col-md-6" order-1>
                    <h3>Create Your Passion</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae deleniti quis deserunt culpa iusto provident. Mollitia porro ducimus earum?</p>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                
                    <div class="d-flex"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Create Area End here -->
    
    <!-- Share Area here -->

    <!-- Head -->
    <section id="share-head-section" class=" bg-primary">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">Share</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quidem amet nihil distinctio aut.</p>
                    <a href="" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Head End-->
    <!-- Body -->

    <section id="share-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <lottie-player class="img-fluid" src="https://assets6.lottiefiles.com/packages/lf20_qmfs6c3i.json"  background="transparent"  speed="1"    loop autoplay></lottie-player>-->
                    <img class="img-fluid img-thumbnail mb-3" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="explore"> 
                </div>
                <div class="col-md-6">
                    <h3>Share what you Create</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae deleniti quis deserunt culpa iusto provident. Mollitia porro ducimus earum?</p>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequuntur numquam accusantium at enim, quidem placeat saepe libero nulla labore maiores?
                        </div>
                    </div>
                
                    <div class="d-flex"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Body End -->    
    <!-- Share Area End here -->
    <!-- Footer here -->

    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>LoopLAB</h3>
                    <p>Copyright &copy; <span id="year"></span></p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End here -->
  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact Us</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </div>
    </div>
  </div>
    
  
  </body>
